/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, *:before, *:after {
  box-sizing: border-box;
}
body {
 width: 100%;
 -background-image: url("mainbackground.jpg");
 background: black;
 background-repeat: repeat;
 background-size: 100%;
}




.picture {
  position: relative;
  max-width: 90%;
  height: auto;
  margin: 20px auto;
  border: 10px solid #fff;
  box-shadow: 0 5px 5px #000;
}

canvas {
  background: white;
}

.index-image {
  width: 250px;
  height: auto;
}


/* This draws the faces onto the canvas if desires, need full zi */
 /* .face {
   position: relative;
   border: 2px solid #FFF;
 }
 */
